@model FileUploadInDatabase.Models.Student

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h4 style="color:blue;">Student Form</h4><br>
    <p>Name : </p> @Html.TextBoxFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p>E-mail : </p> @Html.TextBoxFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })<br>
    <p>Resume : </p> <input type = "file" name = "postedFile" /> <br><br>
    <input type="submit" name="Submit" value="Submit" />

}

<h1 style="color:green;">@ViewBag.Message</h1>
<h1 style="color:red;">@ViewBag.errMessage</h1>



